# Ignore build directories
/build/*
!/build/.xproject
/src/ludmilladb

# Ignore code editor preferences
*settings.json
*settings.xml
ludb.db

# Temporary build files
*.stamp-t
*.out
*.o
*file.in
*.in.in
*top.in

# Useless files created by autotools
COPYING

# Glade swap files
*~

*.swp
*.pot
*.Po
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
missing
mkinstalldirs
po/.intltool-merge-cache
po/POTFILES
*.gmo
po/stamp-it
*.stamp
stamp-h1
Makefile
Makefile.in